.custom-input-box {
  width: 100%;
  max-width: 397.63px;
  height: 100%;
  max-height: 40px;
  margin-top: 32px;
  margin-left: 16px;
}
.custom-input-box-input {
  height: 100%;
  width: 85%;
  background: #eff2ff;
  opacity: 1;
  padding: 8px;
  border: none;
  font: normal normal 400 16px/20px Montserrat;
  color: #0f1317;
  box-sizing: border-box;
}
.custom-input-box-input:focus {
  border: none;
  outline: none;
}

.custom-input-button {
  width: 15%;
  height: 100%;
  background: transparent;
  opacity: 1;
  padding: 8px;
  font: normal normal 400 16px/20px Montserrat;
  background-color: #ff6738;
  border: none;
  cursor: pointer;
}
